/*home-style.css*/
body {
    background-color: lightcyan;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.8;
}

h1 {
    background-color: #9df9ef;
    width: 90%;
    margin: 20px auto;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
}

li {
    margin: 10px;
    font-weight: 500;
}