/*recipe-style.css*/
body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8;
}

h1 {
    background-color: #9df9ef;
    width: 90%;
    margin: 20px auto;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
}

img {
    display: block;
    margin: 20px auto 30px;
    border: 4px solid navy;
}

.section {
    margin: 10px 70px;
}

h1 {
    font-size: 40px;
}

li {
    margin: 20px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 3px;
}